.button {
    background-color: green;
    color: #fff;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.button_header {
    margin-right: 12px;
}

.button-close-modal {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
    padding: 10px 40px;
    font-size: 0;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: background-color .3s;
}

.button-close-modal::after,
.button-close-modal::before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 15px;
    height: 2px;
    top: 50%;
    left: 50%;
    transition: background-color .3s, top .5s;
}

.button-close-modal:hover {
    background-color: #000;
}

.button-close-modal:hover::after,
.button-close-modal:hover::before {
    background-color: #fff;
    top: 40%;
}

.button-close-modal::before {
    transform: translateX(-20%) rotate(45deg);
}

.button-close-modal::after {
    transform: translateX(-80%) rotate(-45deg);
}

.button-del {
    font-size: 0;
    background-color: red;
    width: 21px;
    height: 21px;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.button-del::after,
.button-del::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    left: 50%;
    top: 50%;
    background-color: #000;
    border-radius: 2px;
}

.button-del::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.button-del::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-del_user-message {
    position: absolute;
    top: 0;
    right: 0;
}

.button-sidebar-admin {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    background-color: #000;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 6;
}

.button-sidebar-admin__line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: opacity .1s;
}

.button-sidebar-admin::after,
.button-sidebar-admin::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 70%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: top .5s, transform .5s;
}

.button-sidebar-admin::after {
    top: 7px;
}

.button-sidebar-admin::before {
    bottom: 7px;
}

.button-sidebar-admin_active {
    transform: rotate(360deg);
    width: 34px;
    height: 34px;
    transition: transform .5s, width .5s, height .5s;
}

.button-sidebar-admin_active .button-sidebar-admin__line {
    opacity: 0;
}

.button-sidebar-admin_active::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-sidebar-admin_active::before {
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%) rotate(-45deg);
}